@{
    ViewBag.Title = "Home Page";
}
<script src="~/Scripts/myApp.js" ></script>
<ul id="sampleList">
    <li><input type="checkbox" value="1" checked="checked" />text 1</li>
    <li><input type="checkbox" value="2" checked="checked" />test 2</li>
    <li><input type="checkbox" value="3" checked="checked" />test 3</li>
</ul>
<input type="button" id="submitButton" value="submit" onclick="onClickSubmit()"/>
<span id="spanResults"></span>
